*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;

}
.elem{
    width:100vw;
    height: 20vh;
    /* background-color: brown; */
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 12px;
    /* position: relative; */
    mix-blend-mode: difference;
   
}
.elem h1{
    font-size: 6vw;
}
.elem img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    object-fit: cover;
    object-position: center;
   opacity: 0;
   transition: all linear 0.3s;
    transform: translate(-50,-50);
   
}